@import "../../styles/variables";

.line {
    color: var(--color-white);
    font-weight: 700;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    white-space: nowrap;

    .value {
        color: var(--color-yellow);
    }

    @media screen and (width <= 425px) {
        font-size: 18px;
    }

    @media screen and (width <= 375px) {
        font-size: 16px;
    }
}
