@import "../../styles/variables";

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.lineButtonContainer {
    display: flex;
    gap: 40px;
    margin: 20px 0 0;
}

.input {
    display: none; /* Hide the default file input */
}

.label {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    border: 2px dashed var(--color-white);
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.selectLine {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-bottom: none;

    &:last-child {
        border-bottom: 1px solid black;
    }
}

.enterLineContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    max-width: 600px;
    min-height: 100%;
    margin: 0 auto;
}

.inputNumber {
    bottom: 0;
    width: 100px;
    padding-bottom: 4px;
    color: white;
    font-size: 30px;
    text-align: center;
    background: transparent;
    border-bottom: 2px solid var(--color-yellow);
}

.lineSelect {
    gap: 10px;
    max-width: 150px;
    padding: 3px;
    color: var(--color-yellow);
    font-weight: 700;
    font-size: 16px;
    background-color: transparent;
    border: none;
    outline: none;

    &__error {
        color: red;
    }

    &__filled {
        color: green;
    }
}

.labelRed {
    padding: 6px 8px;
    color: black;
    background-color: rgb(236 57 102);
    border-radius: 8px;
}

.labelGreen {
    padding: 6px 8px;
    color: white;
    background-color: rgb(2 172 93);
    border-radius: 8px;
}

.text {
    margin-top: 30px;
    color: var(--color-yellow);
    font-size: 40px;
    line-height: 50px;
}

.lineLabel {
    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
        max-width: 70%;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
    }
}

.error {
    margin-top: 30px;
    color: var(--color-white);
    font-size: 30px;
    line-height: 30px;
    text-decoration: underline;
    text-decoration-color: var(--color-red);
    text-underline-offset: 4px;
}

.label:hover {
    border-color: var(--color-yellow);
}

.document {
    stroke-dasharray: 20 20;
    animation: dash 0.5s linear infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 40;
    }
}

.line1,
.line2,
.line3,
.line4,
.line5,
.line6 {
    fill: var(--color-gold);
}

@keyframes pulse {
    0%,
    100% {
        fill: var(--color-gold);
    }

    50% {
        fill: var(--color-yellow);
    }
}

.line1 {
    animation: pulse 3s linear 0s infinite;
}

.line2 {
    animation: pulse 3s linear 0.5s infinite;
}

.line3 {
    animation: pulse 3s linear 1s infinite;
}

.line4 {
    animation: pulse 3s linear 1.5s infinite;
}

.line5 {
    animation: pulse 3s linear 2s infinite;
}

.line6 {
    animation: pulse 3s linear 2.5s infinite;
}
