@import "../../styles/variables";

.toggler {
    color: var(--color-header-gold);
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;

    &:hover {
        color: var(--color-smoke);
    }
}
