// Your variables
:root {
    --color-white: #ffffff;
    --color-smoke: #f1ede6;
    --color-black: #000000;
    --app-height: 100%;
    --color-red: #8c3a49;
    --color-yellow: #f5b40c;
    --color-gold: #b07529;
    --color-header-gold: #dca006;
    --color-blue: #46788c;
    --color-green: #255950;
}
