@import "../../styles/variables";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 54px;
    padding: 6px 20px;
    background: var(--color-red);
    box-shadow: 0 4px 4px rgb(from var(--color-black) r g b / 25%);
    transition: all 0.3s;

    &__title {
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            color: var(--color-white);
        }
    }

    &__toggler {
        margin-bottom: -5px;
    }

    &__actionContainer {
        display: flex;
        align-items: center;
        gap: 18px;
    }
}
